:root {
	--primary: linear-gradient(90deg,rgba(93, 12, 255, 1) 0%,rgba(155, 0, 250, 1) 100%);
	--personal: var(--primary);
	--light: #EEE;
	--grey: #979797;
	--dark: rgb(41, 41, 41);
	--danger: #ff5b57;
  --color-text-disabled: #9cdb85;
  --color-disabled: #dbedd4;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: var(--light);
	color: var(--dark);
  margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 20rem;
  padding-right: 20rem;
}

@media screen and (max-width: 934px) {
  body {
    padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 3rem;
  }
}
/* section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
} */

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.create-todo input[type="text"] {
  display: block;
	width: 100%;
	font-size: 1.125rem;
  font-weight: 500;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
  border-style: none;
}

.create-todo h1 {
  margin-bottom: 12px;
  font-size: 35px;
  font-weight: 900;
  color: var(--dark);
}

.create-todo input[type="text"]:focus {
 outline: 1px solid rgb(255, 34, 211);
}

.create-todo .todo-list {
  margin: 1rem 0;
}

.add-todo {
  display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
  margin-bottom: 4rem;
	color: #FFF;
	font-weight: 800;
	text-transform: uppercase;
	background: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
  border-style: none;
}

.todo-list .todo-list-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-list-item label {
  display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-list-item .content {
  flex: 1 1 0%;
  /* margin-left: 20px; */
  font-size: 20px;
  font-weight: 500;
  color: rgb(78, 78, 78);
}

.todo-list-item .content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-list-item .todos-btn {
  display: flex;
  align-items: center;
}

.todo-list-item .todos-btn button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--light);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-style: none;
  font-size: 14px;
  font-weight: 600;
}

.todo-list-item .todos-btn button:hover {
  opacity: 0.75;
}

.todo-list-item .todos-btn .edit {
  margin-right: 0.5rem;
  background: var(--primary);
}

.todo-list-item .todos-btn .delete {
  background-color: var(--grey);
}

.round {
  position: relative;
  margin-right: 18px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 8px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #4bad28;
  border-color: #4bad28;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.edit-todo .edit-field {
  padding: 0.2rem;
  margin-right: 24px;
  font-size: 18px;
  font-weight: 500;
}

.todo-list-item.completed {
  color: var(--color-text-disabled);
  background-color: var(--color-disabled);
}

.content.completed {
  color: var(--color-text-disabled);
  text-decoration: line-through;
}

.todo-list-item.completed .delete {
  text-decoration: none;
}
